@media only screen and (max-width: 1180px) {
  .tracker-entry {
    flex-wrap: wrap;
    padding: 0;
  }

  .div2 {
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    border-top: 1px solid #eee;
  }

  .tracker-entry:nth-child(2) {
    border-top: 0px solid rgb(198, 210, 217);
  }

  .tracker-entry {
    border-top: 3px solid rgb(198, 210, 217);
  }

  .div1 {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }

  .tracker-entry__project-button,
  .tracker-entry__input {
    padding: 2rem;
  }

  /* .timetracker-recorder__tags-button {
    padding-left: 0;
    padding-right: 0;
  } */

  .tracker-entry__project-button--text {
    width: auto;
  }

  .tracker-entry__input {
    max-width: 100%;
    width: 100%;
  }

  .tracker-entry:hover .tracker-entry__input {
    border: 1px solid transparent;
  }

  .tracker-entry__input:focus-visible {
    border: 1px solid transparent;
  }
}
