.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c6d2d9;
  border-left: 3px solid var(--primary);
  background-color: white;
}

.nav__right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav__hamburger-link {
  width: 2.7rem;
  margin: 1rem;
  margin-left: 1.8rem;
  font-weight: 400;
}

.nav__logo {
  width: 9.7rem;
  display: inline-block;
  margin-left: 1rem;
}

.nav__user-workspace {
  color: #666;
  font-size: 1.4rem;
}

.nav__btn-upgrade {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 2px;
  padding: 0.3rem 0.7rem;
  margin: 0 2rem;
  text-transform: uppercase;
}

.nav__help {
  display: block;
  padding: 0 2rem;
}

.nav__notification {
  display: block;
  padding: 0 2rem;
}

.nav__user-profile {
  margin: 0 2rem;
  display: block;
}

.nav__line {
  height: 50px;
  background-color: rgb(225, 225, 225);
  width: 1px;
}
