.week {
  margin: 2rem;
  margin-left: var(--tracker-margin-left);
  transition: 0.3s margin ease-in-out;
}

.week-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(153, 153, 153);
  margin: 2rem 0;
}

.week-header__date {
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

.card {
  margin: 3rem 0;
  border: 1px solid rgb(198, 210, 217);
  border-radius: 2px;
  border-bottom: 4px solid #c6d2d9;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(153, 153, 153);
  background-color: #e4eaee;
  padding: 0.7rem 2rem;
}

.card-header__total {
  display: flex;
  align-items: flex-end;
}

.card-header__date {
  font-size: 1.2rem;
}

.card-header__text--total {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card-header__text--time {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 1rem;
}

.card-header__button--edit {
  margin-left: 1rem;
}
