/* TODO: Refactor hover css states, currently lying around in different corners. */
.line {
  min-height: 4rem;
  background-color: rgb(225, 225, 225);
  width: 1px;
}

main {
  margin-top: 3rem;
}

.week {
  margin: 2rem;
  margin-left: var(--tracker-margin-left);
  transition: 0.3s margin ease-in-out;
}

.week-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(153, 153, 153);
  margin: 2rem 0;
}

.week-header__date {
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
}

.card {
  margin: 3rem 0;
  border: 1px solid rgb(198, 210, 217);
  border-radius: 2px;
  border-bottom: 4px solid #c6d2d9;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(153, 153, 153);
  background-color: #e4eaee;
  padding: 0.7rem 2rem;
}

.card-header__total {
  display: flex;
  align-items: flex-end;
}

.card-header__date {
  font-size: 1.2rem;
}

.card-header__text--total {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.card-header__text--time {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 1rem;
}

.card-header__button--edit {
  margin-left: 1rem;
}

.tracker-entry {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(198, 210, 217);
  padding: 1rem;
  background: white;
}

.tracker-entry:hover {
  box-shadow: 0 0 20px #0000001a;
}

.div1 {
  height: 4.3rem;
  display: flex;
  align-items: center;
  flex: 1;
}

.div2 {
  height: 4.3rem;
  display: flex;
  align-items: center;
}

/*                 */
/*                 */
/*  PROJECT BUTTON */
/*                 */
/*                 */
.tracker-entry__project-button {
  display: flex;
  align-items: center;
  color: var(--red);
  padding: 0 4rem 0 1rem;
  position: relative;
  flex: 1;
}

.tracker-entry__project-button--text {
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  width: 5rem;
  flex: 1;
}

.tracker-entry__project-button:hover {
  text-decoration: underline;
}

/*                  */
/*                  */
/*  BILLABLE BUTTON */
/*                  */
/*                  */
.tracker-entry__price-button {
  visibility: hidden;
  width: 0;
}

.tracker-entry__price-label {
  padding: 0 2rem;
  font-size: 2.4rem;
  font-weight: 100;
  cursor: pointer;
  user-select: none;
}

.tracker-entry__price-button:checked + .tracker-entry__price-label {
  font-weight: 400;
  color: var(--primary);
}

/*                 */
/*                 */
/*  TAGS BUTTON    */
/*                 */
/*                 */
.tracker-entry__tags-button {
  padding: 0 2rem;
  padding-top: 5px;
}

.tracker-entry__tag-button--blue {
  color: rgb(2, 88, 127);
  font-size: 1.2rem;
  background: rgb(225, 245, 254);
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  border-radius: 2px;
  max-width: 20rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

.tracker-entry__tag-button--blue:hover {
  background: rgb(179, 229, 252);
}

.timetracker-recorder__tags-button {
  padding: 0 2rem;
  padding-top: 5px;
  position: relative;
}

/*                 */
/*                 */
/*    STOPWATCH    */
/*                 */
/*                 */
.tracker-entry__stopwatch {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333333;
  margin: 0 2rem;
  max-width: 9rem;
  text-align: center;
  height: 3.85rem;
  border: none;
}

.tracker-entry:hover .tracker-entry__stopwatch,
.tracker-entry__stopwatch:active,
.tracker-entry__stopwatch:focus {
  border: 1px solid rgb(198, 210, 217);
}

/*                 */
/*                 */
/*  DATE & STUFF.. */
/*                 */
/*                 */

.date-time-wrapper {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.date-time-picker {
  max-width: 5.2rem;
  outline: none;
  padding: 1rem 0.6rem;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  text-align: center;
}

.time-divider {
  padding: 0 0.5rem;
  color: #999;
}

.timetracker-recorder__date-button {
  padding-top: 5px;
  padding-left: 2rem;
}

input.date-time-picker:focus-visible {
  border: 1px solid rgb(198, 210, 217);
}

.tracker-entry:hover .date-time-picker {
  border: 1px solid rgb(198, 210, 217);
}

.timetracker-recorder__date-button {
  position: relative;
}

.native-date-picker {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -80px;
  width: 100%;
  height: 100%;
}

.timetracker-recorder__tags-button {
  padding: 0 2rem;
  padding-top: 5px;
  position: relative;
}

.menu-dropdown {
  position: absolute;
  background-color: #fefefe;
  right: -11px;
  top: 155%;
  width: 300%;
  box-shadow: 0 5px 10px #0000001a;
  z-index: 100;
  pointer-events: none;
}

.option:hover {
  background: #e4eaee;
}

.option {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding: 1.4rem 2rem;
  pointer-events: auto;
}

.option--delete {
  color: var(--red);
}

.option:first-child {
  margin-top: 0.5rem;
}

.option:last-child {
  margin-bottom: 0.5rem;
}

/* MODAL */
.modal {
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 0.25s backdropIn ease;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  min-width: 50rem;
  border-radius: 5px;
  animation: 0.45s fadeInBottomBig ease-out;
}

.modal-header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6d2d9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.modal-title {
  font-size: 2.4rem;
  color: rgb(102, 102, 102);
}

.modal-button--close {
  width: 1.2rem;
  height: 1.2rem;
}

.modal-button--close:focus-within,
.modal-button--cancel:focus-within,
.modal-button--delete:focus-within {
  outline: 2px solid black;
}

.modal-close__img {
  mix-blend-mode: difference;
  opacity: 0.2;
}

.modal-body {
  padding: 2rem;
  border-bottom: 1px solid #c6d2d9;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.modal-body__text {
  color: rgb(51, 51, 51);
  font-size: 1.4rem;
}

.modal-footer {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-button--cancel {
  font-size: 1.4rem;
  color: var(--primary);
  cursor: pointer;
}

.modal-button--cancel:hover {
  text-decoration: underline;
  color: rgb(2, 88, 127);
}

.modal-button--delete {
  font-size: 1.4rem;
  background-color: var(--red);
  text-transform: capitalize;
  padding: 1rem 2.4rem;
  color: #fefefe;
  margin-left: 4rem;
  cursor: pointer;
}

.sup-div {
  position: relative;
  width: 2rem;
  height: 4rem;
}

.sup {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: -2px;
  width: 100%;
}

/*                    */
/*                    */
/* Description Input  */
/*                    */
/*                    */
.input-wrapper {
  max-width: 100%;
}

.tracker-entry__input-sizer {
  display: inline-grid;
}

.tracker-entry__input-sizer::after {
  grid-area: 1/2;
  content: attr(data-value);
  font-size: 1.4rem;
  /* max-width: var(--input-width); */
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

.tracker-entry__input {
  grid-area: 1/2;
  display: inline-block;
  border: 1px solid transparent;
  outline: none;
  padding: 1rem;
  font-size: 1.4rem;
  color: rgb(51, 51, 51);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-out, border-color 0.3s ease-in-out;
}

.tracker-entry__input:focus {
  text-overflow: initial;
}

.tracker-entry__input::placeholder {
  color: rgb(146, 155, 161);
  font-size: 1.4rem;
}

.tracker-entry:hover .tracker-entry__input,
.tracker-entry__input:active,
.tracker-entry__input:focus {
  border: 1px solid rgb(198, 210, 217);
}
